/* PrettyJSON Custom Styles - Higher specificity to override package styles */
.filament-infolists .prettyjson-container {
    position: relative;
    min-width: 0;
    flex: 1;
}

.filament-infolists pre.prettyjson {
    background: var(--color-slate-800) !important;
    color: black !important;
    border: 1px solid rgb(229, 231, 235) !important;
    border-radius: 0.5rem !important;
    padding: 10px 20px !important;
    overflow: auto !important;
    font-size: 16px !important;
    position: relative !important;
}

.filament-infolists :is(.dark) pre.prettyjson {
    --tw-border-opacity: 1 !important;
    border: 1px solid rgb(75 85 99 / var(--tw-border-opacity)) !important;
    color: rgb(209 213 219 / var(--tw-text-opacity)) !important;
}

.filament-infolists :is(.dark) pre.prettyjson span.json-key {
    color: var(--color-primary-400) !important;
}

.filament-infolists :is(.dark) pre.prettyjson span.json-string {
    color: var(--color-white) !important;
}

.filament-infolists :is(.dark) pre.prettyjson span.json-value {
    color: #ffc816 !important;
}

.filament-infolists .copy-button {
    position: absolute !important;
    right: 15px !important;
    top: 10px !important;
    width: 20px !important;
    height: 20px !important;
    text-align: center !important;
    line-height: 20px !important;
    cursor: pointer !important;
    color: var(--color-slate-400) !important;
    border: none !important;
    outline: none !important;
    z-index: 50 !important;
    transition-duration: 0.5s !important;
}

.filament-infolists .copy-button:hover {
    color: var(--color-white) !important;
    transition-duration: 0.5s !important;
}

.filament-infolists .copy-button:active,
.filament-infolists .copy-button:focus {
    border: none !important;
    outline: none !important;
}
